.App {
    text-align: center;
}

.App-header {
    background-color: #33454d;
    min-height: 10vh;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* nav > ul {
    display: flex;
    justify-content: space-around;
} */

nav li {
    display: inline-block;
    margin: 0 10px;
    padding: 20px 0;
}

.container {
    margin: 1.5em auto 0;
    min-width: 250px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 992px) {
    .App-header {
        justify-content: flex-end;
    }

    nav ul {
        margin-right: 10vmin;
    }
}

@media all and (max-width: 513px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }
}

@media all and (min-width: 515px)and (max-width: 799px) {
    nav li {
        margin: 0 30px;
    }
}

@media all and (min-width: 800px) and (max-width: 991px) {
    nav li {
        margin: 0 50px;
    }
}





