.recommendations {
    display: flex;
    /* flex-wrap: wrap; */
}

.recommendation {
    background-color: #42414d;
    padding: 0.5em 0.4em;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    width: 33.3%;
    flex-direction: column;
    margin: 4px;
    align-items: center;
}

