.logout-error {
   color: hsl(0, 100%, 40%);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -20%); 
}

.logout-success {
    color: hsl(120, 100%, 40%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

