.container {
    margin: 1.5em auto 0;
    min-width: 250px;
    max-width: 600px;
    position: relative;
}

.user-post-holder {
    background-color: #42414d;
    border-radius: 6px;
    padding: 10px 15px;
    margin-top: 1.5em;
}

.post-header {
    /* text-align: left; */
    display: flex;
}

.avatar-holder {
    max-width: 50px;
}

.avatar-holder img {
    max-width: 100%;
    border-radius: 40%;
}

.user-info {
	padding: 0 17px;
}

.post-content-holder {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    padding: 17px 5px;
    text-align: left;
}

.post-content-holder hr {
    width: 50%;
    border-bottom: 1px solid #fff;
    margin-left: 0;
}

.unfollow-btn {
    display: block;
    border-radius: 8px;
    padding: 2px 7px;
    color: #fff;
    background-color: #1ba4ce;
    margin: 10px 0;
}

.unfollow-btn:hover {
    color: #1ba4ce;
    background-color: #fff;
    transition-duration: .4s;
}

.hide-post {
	position: absolute;
	top: 10px;
	right: 13px;
    font-weight: 600;
}

