section {
    width: 100%;
}

.signup-form {
    display: flex;
    flex-wrap: wrap;
}

.input-item {
    width: 100%;
    background-color: aliceblue;
}

.error {
    border-bottom: 1.7px solid red;
}