/****** Base styles ********/
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b2a33;
  color: #aaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/********** Sitewide **************/
/*Bo ja tak rozumiem, kazdy z komponentow bedzie sie skladal z jednej sekcji  */
section {
    margin: 20px 0;
}

.container {
    margin: 1.5em auto 0;
    min-width: 310px;
    max-width: 550px;
    padding: 0 5px;
}

.input-item {
    width: 100%;
    border: 1.5px solid white;
    background-color: inherit;
    padding: 3px 7px;
    margin: 6px 0 6px;
    color: #fff;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 2em;
    cursor: pointer;
    border: 0;
}

.btn:hover,
.btn:focus {
    outline: none;
}

.btn-submit {
	display: block;
	margin: 2em auto;
	background-color: #aaa;
    margin: 1em auto 2em;
}

.btn-submit:hover {
    background-color: #42414d;
    color: #aaa;
    transition: all .3s;
}

h2, p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #aaa;
    font-weight: 600;
}

span {
    margin: 0 8px;
}

.btn.yes, .btn.no {
    margin-top: 0;
    font-weight: 600;
}

.btn.yes {
    background-color: hsl(89, 87%, 75%);
}

.btn.no {
    background-color: hsl(0, 87%, 75%);
}

@media all and (min-width: 480px) {
    a {
        font-weight: 600;
    }
}

