/****** Base styles ********/
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b2a33;
  color: #aaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/********** Sitewide **************/
.btn {
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 2em;
}

.btn-submit {
    display: block;
    margin: auto;
    background-color: #42414d;
    color: #aaa;
     
}

.btn-submit:hover {
    background-color: #aaa;
    color: #42414d;
    transition: all .3s;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #aaa;
}
/* @media all and (sc) */