/****** Base styles ********/
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b2a33;
  color: #aaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/********** Sitewide **************/
/*Bo ja tak rozumiem, kazdy z komponentow bedzie sie skladal z jednej sekcji  */
section {
    margin: 20px 0;
}

nav {
	flex-basis: 370px;
}

nav > ul {
    display: flex;
    justify-content: space-around;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 2em;
}

.btn-submit {
    display: block;
    margin: auto;
    background-color: #aaa;
    color: #42414d;
     
}

.btn-submit:hover {
    background-color: #42414d;
    color: #aaa;
    transition: all .3s;
}

h2, p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #aaa;
}

span {
    margin: 0 5px;
}
/* @media all and (sc) */